body{
  background-image: url('../images/bg.jpg');
  background-size: cover;
font-family: 'Raleway', sans-serif;
}

#title{color:#333;font-family: 'Raleway', sans-serif;}

p{color:#333; font-family: 'Raleway', sans-serif;}